$text: #001b49;
$primary: #fff;
$secundary: #0655dd;

/*Resetted labels*/
*{
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-webkit-font-feature-settings: normal !important;
	font-feature-settings: normal !important;
}
a,
a:hover, a:focus { text-decoration: none; outline: none; }
a img   { border: none; outline: none; }
input   { outline: none; }
img{max-width: 100%;}
p{hyphens: none !important;}

html {
    font-size: 15px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
    color: $text !important;
}

.navbar {
    background: $primary;
    color: #fff;
    padding: .5rem 0;
    transition: all .3s ease;
    .nav-container {
        max-width: 1140px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;


        .logo {
            color: white;
            img {
                width: 150px;
                height: auto;
            }
        }
    }

    #main-menu {
        height: auto;
        display: block;
        margin-left: auto;
        flex: 0 1 auto;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;

            li{

                a {
                    padding: .8rem;
                    margin: .3rem;
                    color: $text;
                    font-size: 1.2rem;
                    transition: all .3s ease;
                    text-transform: capitalize;
    
                    &:hover{
                        border-bottom: 4px solid $text;
                    }
                }

                &.active {
                    a {
                        border-bottom: 4px solid $text;
                    }
                }

            }

        }
    }
}

.info-stripe{
    padding: .1rem;
    color: $primary;
    background: $text;
    text-align: center;
}

.banner-home{
    img {
        width: 100%;
        display: block;
    }
}

.home-content{
    padding: 1.5rem;
    
    h1 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 3rem;
        font-size: 2.5rem;
        background: -webkit-radial-gradient(circle,$secundary 15%,$text 30%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.quienes-somos-content {
    padding: 1.5rem;

    h2 {
        font-size: 2.5rem;
    }

    p {
        text-align: justify;
    }
}

.preguntas-frecuentes-content{
    padding: 1.5rem;
    text-align: center;

    h2 {
        font-size: 2.5rem;
    }

    ul {
        text-align: left;
    }
}

.contact-content {
    padding: 1.5rem;

    .contact-form-group {

        #contact-form {
            display: flex;
            flex-wrap: wrap;

            .form-control {
                flex: 0 1 50%;
                display: flex;
                flex-direction: column;
                padding: 1rem;

                label {
                    margin-bottom: .4rem;

                    &::after {
                        content: " * ";
                        color: red;
                    }
                }

                input, select {
                    height: 3rem;
                    padding: 1rem 1.5rem;
                    background-color: #fbfbfb !important;
                    border: 1px solid rgb(109, 109, 109);
                    color: $text;
                    opacity: .8;
                    appearance: none;
                }

                input::placeholder {
                    color: $text;
                    opacity: .8;
                }

                select {
                    background: transparent;
                    background-image: url("data:image/svg+xml;utf8,<svg fill='darkblue' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                    background-repeat: no-repeat;
                    background-position-x: 98%;
                    background-size: 45px;
                }


                button {
                    background-color: $text;
                    color: $primary;
                    padding: 10px 0 10px 0;
                    font-size: 1.3rem;
                }
            }
        }
    }
}


.calculator-content {

    padding: 1.5rem;

    .contact-form-group {
        display: flex;
        flex-wrap: wrap;

        .contact-form-inputs{
            flex: 0 1 50%;

            .form-control {
                flex: 0 1 50%;
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
                padding: 0 1rem 0 1rem;

                label {
                    margin-bottom: .4rem;

                    &::after {
                        content: " * ";
                        color: red;
                    }
                }

                input {
                    height: 1rem;
                    padding: 1rem 1rem;
                    background-color: #fbfbfb !important;
                    border: 1px solid rgb(109, 109, 109);
                    color: $text;
                    opacity: .8;
                    appearance: none;
                    font-size: 1.3rem;
                }

                input::placeholder {
                    color: $text;
                    opacity: .8;
                }
            }
            
        }

        .contact-form-operation{
            flex: 0 1 50%;
            display: flex;
            flex-wrap: wrap;
   
            .operantion {
                flex: 0 1 50%;
                padding: 15px;

                button {
                    background-color: $text;
                    color: $primary;
                    padding: 10px 0 10px 0;
                    font-size: 1.3rem;
                    width: 100%;
                    height: 100%;
                }

            }
        }

        
    }

}

span {
    &.error {
        padding: 5px;
        color: red;
        margin-top: 5px;
    }

    &#result {
        padding: 0 1rem 0 1rem;
        font-size: 1.3rem;
        font-weight: bold;
    }
}

.footer {
    text-align: center;
    background: $text;
    color: $primary;
    padding: 1rem;

    p{
        margin: 0;
    }
}

.mb-none		{ margin-bottom: 0;}
.padding-none   { padding-left: 0; padding-right: 0;}
.text-center	{ text-align: center;}
.full			{ clear: both;width: 100%; }
.p-l-none		{ padding-left: 0; }
.p-r-none		{ padding-right: 0; }
.p-lr-none		{ padding-left: 0;padding-right: 0; }
.clr            { clear: both; float: none; }
.center         { margin: auto; }
.inline         { display: inline-block; vertical-align: top; }
.inline-bottom  { display: inline-block; vertical-align: bottom; }
.left           { float: left; }
.right          { float: right; }
.relative		{ position: relative; }
.wrapper-main   { max-width: 1170px; }
.wrapper-main-lg{ max-width: 1230px; }
.wrapper-main-md{ max-width: 1000px; }
.wrapper-main-sm{ max-width: 850px; }
/*END Default styles*/